version: '{build}'
clone_depth: 1
environment:
  matrix:
    - CONDITION: Official latest
    - CONDITION: Official 069
    - CONDITION: http://vim-jp.org/redirects/koron/vim-kaoriya/latest/win32/
    - CONDITION: http://vim-jp.org/redirects/koron/vim-kaoriya/latest/win64/
    - CONDITION: https://github.com/koron/vim-kaoriya/releases/download/v8.0.0082-20161113/vim80-kaoriya-win32-8.0.0082-20161113.zip
    - CONDITION: https://github.com/koron/vim-kaoriya/releases/download/v8.0.0082-20161113/vim80-kaoriya-win64-8.0.0082-20161113.zip
install:
  - 'reg copy HKLM\SOFTWARE\Python\PythonCore\2.7 HKLM\SOFTWARE\Python\PythonCore\2.7-32 /s /reg:32'
  - 'reg copy HKLM\SOFTWARE\Python\PythonCore\2.7 HKLM\SOFTWARE\Python\PythonCore\2.7-32 /s /reg:64'
  - 'git config --global user.name "Appveyor"'
  - 'git config --global user.email appveyor@example.com'
  - 'git clone -q --depth 1 --single-branch https://github.com/thinca/vim-themis %TEMP%\vim-themis'
  - ps: .ci/install.ps1
test_script:
  - '%THEMIS_VIM% --version'
  - '%TEMP%\vim-themis\bin\themis.bat --reporter dot'
build: off
deploy: off
